
/* Mobile Footer Styles */
@media only screen and (max-width: 650px) {

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        font-family: Gilroy-Regular;
        padding: 5px;
        width: 92%;
        margin: 1% 2% 1%;
        display: flex; 
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        border: 3px solid #13CF93;
        background-color: #F1FAEE;
    }

    .footerIcon {
        font-size: 8vw;
        padding-right: 10px;
        color: black;
    }

    .footerIcon:hover {
        color: #13CF93;
    }

    .footerEle {
        font-size: 5vw;
        padding: 5px;
        border-radius: 5px;
    }

}